<!doctype html>
<html lang="en" data-critters-container>
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.42accb7d6f9da07c.css') }}" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="{{ url_for('static', filename='styles.42accb7d6f9da07c.css') }}"></noscript></head>
<body>
  <app-root></app-root>
<script src="{{ url_for('static', filename='runtime.89bfad0fe920d2c9.js') }}" type="module"></script><script src="polyfills.f42e8324c5c7cbb0.js" type="module"></script><script src="{{ url_for('static', filename='main.709a2060e1ce78dc.js') }}" type="module"></script></body>
</html>
